* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 2.4vh;
}

header,
hgroup,
nav,
section,
aside,
article,
footer {
    display: block;
}

body {
    background-color: #e5eff9;
}

hgroup {
    background-color: #2c5cec;
    animation: bg 2s linear;
    animation-iteration-count: infinite;
    padding: 15px 10vw;
}

@keyframes bg {
    0% {
        background-color: #0051a3;
    }
    50% {
        background-color: #003d7a;
    }
    100% {
        background-color: #0051a3;
    }
}

a {
    text-decoration: none;
}

.brand {
    color: #ddd;
    font-size: 4vh;
}

.brand:hover {
    color: #fff;
}

#form {
    width: 50vw;
    margin-top: 17vh;
}

.inp-txt {
    display: block;
}

.left {
    float: left;
    width: 25vw;
    margin-bottom: 5vh;
}

.right {
    float: right;
    width: 25vw;
    margin-bottom: 5vh;
}

.button {
    clear: both;
}

.inp-txt {
    margin: 5vh 0;
    padding: 5px;
    width: 20vw;
    background: none;
    border: none;
    border-bottom: 1px solid black;
}

input[type="submit"] {
    cursor: pointer;
    width: 20vw;
    background: none;
    border: none;
        background-color: #0051a3;
    color: aliceblue;
    padding: 8px;
    border-radius: 10px;
}

input[type="submit"]:hover {
    background-color: #0066cc;
}
