* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 2.4vh;
}

header,
hgroup,
nav,
section,
aside,
article,
footer {
    display: block;
}

body {
    background-color: #e5eff9;
}

hgroup {
    background-color: #2c5cec;
    animation: bg 2s linear;
    animation-iteration-count: infinite;
    padding: 15px 10vw;
}

@keyframes bg {
    0% {
        background-color: #0051a3;
    }
    50% {
        background-color: #003d7a;
    }
    100% {
        background-color: #0051a3;
    }
}

a {
    text-decoration: none;
}

.brand {
    color: #eee;
    font-size: 4vh;
}

.inp-txt {
    display: block;
    background: none;
    border: none;
    transition: all 0.12s linear;
}

.inp-txt:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid #CB7F00;
    color: #cc6600;
}

input[type="submit"] {
    cursor: pointer;
    background: none;
    border: none;
    padding: 8px;
    border-radius: 10px;
}

.button {
    clear: both;
}

@media only screen and (min-width: 1081px) {
    .left {
        float: left;
        width: 25vw;
        margin-bottom: 5vh;
    }
    .right {
        float: right;
        width: 25vw;
        margin-bottom: 5vh;
    }
    #form {
        width: 50vw;
        margin-top: 17vh;
    }
    .inp-txt {
        margin: 5vh 0;
        padding: 5px;
        width: 20vw;
        border-bottom: 1px solid black;
    }
    input[type="submit"] {
        width: 20vw;
        border: 1px solid #0051a3;
        color: #0051a3;
        padding: 8px;
        border-radius: 10px;
        transition: all 0.12s linear;
    }
    input[type="submit"]:hover {
        background-color: #0051a3;
        color: aliceblue;
    }
    input[type="submit"]:focus {
        background-color: #0066cc;
        color: aliceblue;
        outline: none;
    }
}

@media only screen and (max-width: 1080px) {
    hgroup {
        text-align: center;
    }
    .left {
        width: 96vw;
    }
    .right {
        width: 96vw;
        margin-bottom: 5vh;
    }
    #form {
        width: 96vw;
        margin-top: 17vh;
        padding: 0 2vw;
    }
    .inp-txt {
        margin: 20px 0;
        height: 7vh;
        padding: 15px 10px;
        border-radius: 20px;
        width: 96vw;
        background-color: #fff;
    }
    input[type="submit"] {
        width: 96vw;
        height: 5vh;
        background-color: #0051a3;
        color: aliceblue;
        padding: 8px;
        border-radius: 10px;
    }
}
