#gif {
    padding: 0;
    background-image: url("../images/bg.jpg");
    height: 50vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    transition: filter 0.12s linear;
}

.inp-txt {
    display: block;
    background: none;
    border: none;
    transition: all 0.12s linear;
    color: #003366;
}

.inp-txt:focus {
    outline: none;
    border: none;
    color: #7F4F00;
}

#type {
    display: none;
}

#code {
    background-color: #fff;
    border-radius: 20px;
    padding: 15px 10px;
    text-align: center;
    border: none;
}

input[type="submit"] {
    cursor: pointer;
    background: none;
    border: none;
    padding: 8px;
    border-radius: 10px;
}

.button {
    clear: both;
}

@media only screen and (min-width: 1081px) {
    #logos {
        height: 50vh;
        transition: all 0.12s linear;
    }
    #logos:hover {
        background-color: rgba(255, 255, 255, 0.7);
    }
    img {
        display: inline-block;
        opacity: 0;
        padding-top: 5vh;
        height: 40vh;
        padding-right: 1vw;
        padding-left: 1vw;
        transition: all 0.12s linear;
    }
    #form {
        width: 50vw;
        margin-top: 5vh;
    }
    .left {
        float: left;
        width: 25vw;
        margin-bottom: 5vh;
    }
    .right {
        float: right;
        width: 25vw;
        margin-bottom: 5vh;
    }
    .inp-txt {
        margin-bottom: 5vh;
        padding: 5px;
        width: 20vw;
        border-bottom: 1px solid black;
    }
    .inp-txt:focus {
        border-bottom: 1px solid #CB7F00;
    }
    input[type="submit"] {
        width: 20vw;
        border: 1px solid #0051a3;
        color: #0051a3;
        padding: 8px;
        border-radius: 10px;
        transition: all 0.12s linear;
    }
    input[type="submit"]:hover {
        background-color: #0051a3;
        color: aliceblue;
    }
    input[type="submit"]:focus {
        background-color: #0066cc;
        color: aliceblue;
        outline: none;
    }
    .button {
        margin-bottom: 20vh;
    }
}

@media only screen and (max-width: 1080px) {
    #logos {
        display: none;
    }
    .left {
        width: 96vw;
    }
    .right {
        width: 96vw;
        margin-bottom: 5vh;
    }
    #form {
        width: 96vw;
        padding: 0 2vw;
    }
    .inp-txt {
        margin: 20px 0;
        height: 7vh;
        padding: 15px 10px;
        border-radius: 20px;
        width: 96vw;
        background-color: #fff;
    }
    .inp-txt:focus {
        border: 1px solid #CB7F00;
    }
    input[type="submit"] {
        width: 96vw;
        height: 8vh;
        background-color: #0051a3;
        color: aliceblue;
        padding: 8px;
        border-radius: 10px;
    }
    .button {
        margin-bottom: 2vh;
    }
}
